body, html {
    background: linear-gradient(#8ee80e,#00b2cb);
    object-fit: fill;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
 }

header {
    background: linear-gradient(to left, #e1fa20,#ffffff);
    border-style: solid;
    border-color: #04b0c7;
    border-width: thin;
    border-bottom: 0px;
    border-right: 0px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 0;
    padding-left: 0;
    text-shadow: 1px 1px 1px #e1fa20;
}

img {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-style:inherit
}

#foo img:first-child {
    float: right;
    block-size: 75px;
    margin-top: 20px;
    margin-right: 13px;
    
}

.intro .image {
    width:89%;
    height:100%;
}


header h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 40px;
    color: #f59c37; 
    text-shadow: 2px 5px 2px #000;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    border-style: solid;
    border-width: thin;
    border-color: #038394;
    margin-top: 0px;
    background: #04b0c7;
}

nav ul{
    display: flex;
    padding-left: 30;
    list-style: none;
    margin-right: 20px;
}

nav ul li a {
    color: Black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 13px;
    font-style: italic;
    font-weight: 800;
    text-decoration: none;
}

.intro ul li{
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 2px lightsalmon;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0px;
}

main  {
    padding: 20 px 0;
}

section  p {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color:white;

}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.item {
    flex: 1;
    margin: 10px;
}
  
.item-double {
    flex: 2;
}

.project {
    display: flex;
    flex-direction: column;
    margin-bottom: -150px;
}

.portPic {
  margin-left: 17px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contactList {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact h2 {
    margin-top: 20px;
}

.map {
    margin-top: -10px;
}

form {
    padding-right: 8px;
    /* Fixed small sizing issue on the right */
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }

  footer {
    background-color: rgba(0, 41, 41, 0.7);
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: -50px;
    text-align: center;
}

@media all and (max-width: 320px) {
    img {
        width: 250px;
        margin-left: 35px;
    }
    #foo img:first-child{
        width: 100px;
        margin-top: 20px;
        margin-right: 115px;
    }
    header h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size: 25px;
        color: #f59c37; 
        text-shadow: 2px 2px 1px #000;
        margin-top: 0px;
        margin-left: 45px;
    }
    header nav ul {
        text-shadow: 1px 1px 1px #e1fa20;
        margin-left: 20px
    }

    nav ul li a {
        color: Black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right: 5px;
        font-style: italic;
        font-weight: 800;
        text-decoration: none;
    }

    .intro .image {
        width:75%;
        height:20%;
        margin-left: 45px;
    }

    h2 {
        font-size: 25px;
        margin-left: 10px;
    }
    
    section  p {
        font-size: 18px;
        font-family: sans-serif;
        color:white;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px
    }
    .portPic {
        margin-left: 25px;
        height: 250px;
    }
    
}

@media all and (min-width:800px) {
    section {
        padding: 0 5%
    }
    .intro .image {
        margin-left: auto; 
        margin-right: auto;
        width:400px;
        height:400px;
    }
    h2 {
        margin-left: 10px;
    }
    section  p {
        font-size: 18px;
        font-family: sans-serif;
        color:white;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px
    }

    #projectTag {
        margin-left: 45px;
    }
    .project {
        display: flex;
        flex-direction: row;
    }
    .contactForm {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 20px;
    }
    .map {
        margin-top: -20px;
        /* height: 500px; */
    }
    #userMap {
        width: 500px;
    }
}